.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

_book
_bookdown_files
rsconnect
packages.bib
masr.rds
masr.tex
masr.log
masr.md
masr.pdf
data-raw/
tmp/
tmp.Rmd

examples/*.bib
examples/*.pdf
examples/*.log
examples/*.tex
examples/*.html
data/
examples/awesome-bookdown/awesome-bookdown.rds

render*.rds

tikz*
preview.aux

*-tikzDictionary

*.log
metastore_db/
spark-warehouse
dashboard/*/*.html
