.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

.bash_history
.local/
.config/

_book
_bookdown_files
rsconnect
masr.rds
masr.tex
masr.log
masr.md
masr.pdf
data-raw/
tmp/
tmp.Rmd
images/cloud.*

examples/*.bib
examples/*.pdf
examples/*.log
examples/*.tex
examples/*.html
data/
examples/awesome-bookdown/awesome-bookdown.rds
examples/powerpoint-presentation.pptx

code/eight_schools
code/normal_dist
code/rats
code/stan-draft.pdf
code/refer.bib
iris.csv

render*.rds

tikz*
preview.aux

*-tikzDictionary

*.log
metastore_db/
spark-warehouse
dashboard/*/*.html

catboost_info/
book-progress.R

TODO.md
